<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<true/>
				<key>PStates</key>
				<true/>
			</dict>
		</dict>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>U0FUMA==</data>
					<key>Replace</key>
					<data>U0FUQQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change SAT0 to SATA</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUhDMQ==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUhDMg==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EHC2 to EH02</string>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>FixHPET</key>
				<false/>
				<key>FixAirport</key>
				<false/>
				<key>FixUSB</key>
				<true/>
				<key>AddDTGP</key>
				<false/>
				<key>FixShutdown</key>
				<false/>
				<key>FixHDA</key>
				<true/>
				<key>FixRTC</key>
				<false/>
				<key>FixTMR</key>
				<false/>
				<key>FixIntelGfx</key>
				<true/>
				<key>AddHDMI</key>
				<false/>
				<key>FixDisplay</key>
				<true/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Debug</key>
			<false/>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>MATS</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Legacy</key>
		<string>PBR</string>
		<key>CustomLogo</key>
		<false/>
		<key>Secure</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>Arguments</key>
		<string>dart=0 -no_compat_check</string>
		<key>XMPDetection</key>
		<false/>
		<key>Timeout</key>
		<integer>3</integer>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Theme</key>
		<string>CrispyOSX</string>
		<key>Mouse</key>
		<dict>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Hide</key>
		<array>
			<string>BOOTX64.EFI</string>
			<string>Windows</string>
		</array>
		<key>Language</key>
		<string>zh_CN:0</string>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<true/>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>HDMIInjection</key>
		<true/>
		<key>Inject</key>
		<false/>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<true/>
			<key>AFGLowPowerState</key>
			<false/>
			<key>Inject</key>
			<integer>1</integer>
		</dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<false/>
			<key>AddClockID</key>
			<false/>
			<key>NameEH00</key>
			<false/>
			<key>Inject</key>
			<false/>
			<key>HighCurrent</key>
			<false/>
		</dict>
		<key>UseIntelHDMI</key>
		<true/>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>Nothing</string>
	</array>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>RXh0ZXJuYWw=</data>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Replace</key>
				<data>SW50ZXJuYWw=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>External icons patch</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>ROM</key>
		<string>UseMacAddr0</string>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xE00DE137</string>
		<key>Board-ID</key>
		<string>Mac-F65AE981FFA204ED</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x10</string>
		<key>BiosVersion</key>
		<string>MM61.88Z.F000.B00.1809171514</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>Mini-Aluminum</string>
		<key>PlatformFeature</key>
		<string>0x01</string>
		<key>Family</key>
		<string>Mac mini</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C07431802J9F9GYAD</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>Macmini6,2</string>
		<key>SmUUID</key>
		<string>8700136F-21AE-4601-BDF8-00F42C3797C1</string>
		<key>Mobile</key>
		<false/>
		<key>BoardType</key>
		<integer>10</integer>
		<key>EfiVersion</key>
		<string>274.0.0.0.0</string>
		<key>SerialNumber</key>
		<string>C07N40E1DWYN</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>09/17/2018</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectSystemID</key>
		<true/>
		<key>CustomUUID</key>
		<string>88C7D55F-B984-5B94-BF1D-CEBFE289BDF3</string>
		<key>InjectKexts</key>
		<string>Yes</string>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>SetupVirtualMap</key>
		<true/>
		<key>EnableSafeModeSlide</key>
		<true/>
		<key>KernelCache</key>
		<string>Cacheless</string>
		<key>SyncRuntimePermissions</key>
		<true/>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>ProvideConsoleGopEnable</key>
		<true/>
		<key>XhciPortLimit</key>
		<false/>
		<key>EnableWriteUnprotector</key>
		<true/>
	</dict>
</dict>
</plist>